In [3]:
# 1. Print the numbers from from start till specified number eg. 0 till 5

a=5
for i in range(0,a+1):
    print(i)

0
1
2
3
4
5

In [4]:
#2. Print the number  with specific start and end 3,4,5,6

a=3
b=6

for i in range(a,b+1):
    print(i)

3
4
5
6

In [5]:
#3. Print the number with start, end and interval 

for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [11]:
#4. print all the letters in the element l = "teqstories"

for i in "teqstories":
    print(i)

t
e
q
s
t
o
r
i
e
s

In [12]:
#5. print all the elements in the tuple one by one  l = (teq,stories,teqstories)

tup=('teq','stories','teqstories')
for x in tup:
    print(x)

teq
stories
teqstories

In [13]:
#6. print all the elements in the list one by one  l = [teq,stories,teqstories]

l=['teq','stories','teqstories']
for x in l:
    print(x)

teq
stories
teqstories

In [21]:
#7. print all the elements (values and keys ) in the dict one by one  l =  {"teq":26,"stories":23,"teqstories":28}

dic={"teq":26,"stories":23,"teqstories":28}
for x in dic.keys():
    print(x)
    
for x in dic.values():
    print(x)

teq
stories
teqstories
26
23
28

In [30]:
#8. iterate list based on index, l = ["teq", "stories", "teqstories"] 
l=["teq", "stories", "teqstories"]
for i in range(len(l)):
    print(l[i])

teq
stories
teqstories

In [36]:
#9. Print the total sum  and cummulative sum of all the numbers in the list n = [6, 5, 3, 8, 4, 2, 5, 4, 11]

n = [6, 5, 3, 8, 4, 2, 5, 4, 11]
sum=0
for x in n:
    sum+=x
    print("Cummulative Sum :",sum)
print("Total Sum :",sum)

Cummulative Sum : 6
Cummulative Sum : 11
Cummulative Sum : 14
Cummulative Sum : 22
Cummulative Sum : 26
Cummulative Sum : 28
Cummulative Sum : 33
Cummulative Sum : 37
Cummulative Sum : 48
Total Sum : 48

In [42]:
#10.check if the given value is prime number or not

a=int(input("Enter the value:"))
for i in range(2,a):
       if (a % i) == 0:
           print(a,"is not a prime number")
           break
       else:
           print(a,"is a prime number")

Enter the value:4
4 is not a prime number

In [11]:
#11 Find factorial of the number 6

a=6
fact=1
for i in range(1,a+1):
    fact=fact*i
print("Factorial of 6 is :",fact)

Factorial of 6 is : 720

In [12]:
#12 find which is the greatest number   a = 15; b = 201; c = 60

a=15
b=201
c=60

if (a>b and a>c):
    print("a is greater:",a)
elif (b>a and b>c ):
    print("b is greater:",b)
else:
    print("c is greater",c)

b is greater: 201

In [18]:
'''13.Customer segmentation, if cust_credit greater than or equal to 25000 , 
mark as diamond customer, between 15000 and 25000, gold else bronze'''

customer_seg =int(input("Enter the value for customer segmentation :"))

if(customer_seg >= 25000):
    print("Customer is Diamond Customer")
elif(customer_seg >= 15000 and customer_seg <= 25000):
    print("Custmer is Gold Customer")
else:
    print("Customer is Bronze Customer")

Enter the value for customer segmentation :30000
Customer is Diamond Customer

In [26]:
#14 check if a given range if number is even or odd

print("Even numbers :")
for i in range (0,11):
    if(i%2 == 0):
        print(i)
        

print("Odd numbers :")
for i in range (0,11):
    if(i%2 != 0):
        print(i)

Even numbers :
0
2
4
6
8
10
Odd numbers :
1
3
5
7
9

In [29]:
#15. In a given range of interval, find all the numbers and give its total sum which is divisible by 7

sum=0
for i in range(1,30):
    if(i%7 == 0):
        print(i)
        sum+=i

print("Sum of all numbers divisible by 7 :",sum)

7
14
21
28
Sum of all numbers divisible by 7 : 70

In [30]:
#16.count the number of numbers between 555 and 1111 which are divisible by 7 

count=0
for i in range(555,1112):
    if(i%7 == 0):
        print(i)
        count+=1
print("Count of all numbers divisible by 7 :",count)

560
567
574
581
588
595
602
609
616
623
630
637
644
651
658
665
672
679
686
693
700
707
714
721
728
735
742
749
756
763
770
777
784
791
798
805
812
819
826
833
840
847
854
861
868
875
882
889
896
903
910
917
924
931
938
945
952
959
966
973
980
987
994
1001
1008
1015
1022
1029
1036
1043
1050
1057
1064
1071
1078
1085
1092
1099
1106
Count of all numbers divisible by 7 : 79

In [41]:
#17.Get sum of squares of all the even numbers and odd number  between 334 and 667 in seperate list
odd_sum = 0
even_sum = 0
for i in range(334,668):
    if(i%2 ==0):
        even_square=i**2
        print("Square of even number",even_square)
        even_sum+=square
for i in range(334,668):    
    if(i%2 !=0):
        odd_square=i**2
        print("Square of odd number",odd_square)
        odd_sum+=odd_square
print([even_sum])
print([odd_sum])

Square of even number 111556
Square of even number 112896
Square of even number 114244
Square of even number 115600
Square of even number 116964
Square of even number 118336
Square of even number 119716
Square of even number 121104
Square of even number 122500
Square of even number 123904
Square of even number 125316
Square of even number 126736
Square of even number 128164
Square of even number 129600
Square of even number 131044
Square of even number 132496
Square of even number 133956
Square of even number 135424
Square of even number 136900
Square of even number 138384
Square of even number 139876
Square of even number 141376
Square of even number 142884
Square of even number 144400
Square of even number 145924
Square of even number 147456
Square of even number 148996
Square of even number 150544
Square of even number 152100
Square of even number 153664
Square of even number 155236
Square of even number 156816
Square of even number 158404
Square of even number 160000
Square of even number 161604
Square of even number 163216
Square of even number 164836
Square of even number 166464
Square of even number 168100
Square of even number 169744
Square of even number 171396
Square of even number 173056
Square of even number 174724
Square of even number 176400
Square of even number 178084
Square of even number 179776
Square of even number 181476
Square of even number 183184
Square of even number 184900
Square of even number 186624
Square of even number 188356
Square of even number 190096
Square of even number 191844
Square of even number 193600
Square of even number 195364
Square of even number 197136
Square of even number 198916
Square of even number 200704
Square of even number 202500
Square of even number 204304
Square of even number 206116
Square of even number 207936
Square of even number 209764
Square of even number 211600
Square of even number 213444
Square of even number 215296
Square of even number 217156
Square of even number 219024
Square of even number 220900
Square of even number 222784
Square of even number 224676
Square of even number 226576
Square of even number 228484
Square of even number 230400
Square of even number 232324
Square of even number 234256
Square of even number 236196
Square of even number 238144
Square of even number 240100
Square of even number 242064
Square of even number 244036
Square of even number 246016
Square of even number 248004
Square of even number 250000
Square of even number 252004
Square of even number 254016
Square of even number 256036
Square of even number 258064
Square of even number 260100
Square of even number 262144
Square of even number 264196
Square of even number 266256
Square of even number 268324
Square of even number 270400
Square of even number 272484
Square of even number 274576
Square of even number 276676
Square of even number 278784
Square of even number 280900
Square of even number 283024
Square of even number 285156
Square of even number 287296
Square of even number 289444
Square of even number 291600
Square of even number 293764
Square of even number 295936
Square of even number 298116
Square of even number 300304
Square of even number 302500
Square of even number 304704
Square of even number 306916
Square of even number 309136
Square of even number 311364
Square of even number 313600
Square of even number 315844
Square of even number 318096
Square of even number 320356
Square of even number 322624
Square of even number 324900
Square of even number 327184
Square of even number 329476
Square of even number 331776
Square of even number 334084
Square of even number 336400
Square of even number 338724
Square of even number 341056
Square of even number 343396
Square of even number 345744
Square of even number 348100
Square of even number 350464
Square of even number 352836
Square of even number 355216
Square of even number 357604
Square of even number 360000
Square of even number 362404
Square of even number 364816
Square of even number 367236
Square of even number 369664
Square of even number 372100
Square of even number 374544
Square of even number 376996
Square of even number 379456
Square of even number 381924
Square of even number 384400
Square of even number 386884
Square of even number 389376
Square of even number 391876
Square of even number 394384
Square of even number 396900
Square of even number 399424
Square of even number 401956
Square of even number 404496
Square of even number 407044
Square of even number 409600
Square of even number 412164
Square of even number 414736
Square of even number 417316
Square of even number 419904
Square of even number 422500
Square of even number 425104
Square of even number 427716
Square of even number 430336
Square of even number 432964
Square of even number 435600
Square of even number 438244
Square of even number 440896
Square of even number 443556
Square of odd number 112225
Square of odd number 113569
Square of odd number 114921
Square of odd number 116281
Square of odd number 117649
Square of odd number 119025
Square of odd number 120409
Square of odd number 121801
Square of odd number 123201
Square of odd number 124609
Square of odd number 126025
Square of odd number 127449
Square of odd number 128881
Square of odd number 130321
Square of odd number 131769
Square of odd number 133225
Square of odd number 134689
Square of odd number 136161
Square of odd number 137641
Square of odd number 139129
Square of odd number 140625
Square of odd number 142129
Square of odd number 143641
Square of odd number 145161
Square of odd number 146689
Square of odd number 148225
Square of odd number 149769
Square of odd number 151321
Square of odd number 152881
Square of odd number 154449
Square of odd number 156025
Square of odd number 157609
Square of odd number 159201
Square of odd number 160801
Square of odd number 162409
Square of odd number 164025
Square of odd number 165649
Square of odd number 167281
Square of odd number 168921
Square of odd number 170569
Square of odd number 172225
Square of odd number 173889
Square of odd number 175561
Square of odd number 177241
Square of odd number 178929
Square of odd number 180625
Square of odd number 182329
Square of odd number 184041
Square of odd number 185761
Square of odd number 187489
Square of odd number 189225
Square of odd number 190969
Square of odd number 192721
Square of odd number 194481
Square of odd number 196249
Square of odd number 198025
Square of odd number 199809
Square of odd number 201601
Square of odd number 203401
Square of odd number 205209
Square of odd number 207025
Square of odd number 208849
Square of odd number 210681
Square of odd number 212521
Square of odd number 214369
Square of odd number 216225
Square of odd number 218089
Square of odd number 219961
Square of odd number 221841
Square of odd number 223729
Square of odd number 225625
Square of odd number 227529
Square of odd number 229441
Square of odd number 231361
Square of odd number 233289
Square of odd number 235225
Square of odd number 237169
Square of odd number 239121
Square of odd number 241081
Square of odd number 243049
Square of odd number 245025
Square of odd number 247009
Square of odd number 249001
Square of odd number 251001
Square of odd number 253009
Square of odd number 255025
Square of odd number 257049
Square of odd number 259081
Square of odd number 261121
Square of odd number 263169
Square of odd number 265225
Square of odd number 267289
Square of odd number 269361
Square of odd number 271441
Square of odd number 273529
Square of odd number 275625
Square of odd number 277729
Square of odd number 279841
Square of odd number 281961
Square of odd number 284089
Square of odd number 286225
Square of odd number 288369
Square of odd number 290521
Square of odd number 292681
Square of odd number 294849
Square of odd number 297025
Square of odd number 299209
Square of odd number 301401
Square of odd number 303601
Square of odd number 305809
Square of odd number 308025
Square of odd number 310249
Square of odd number 312481
Square of odd number 314721
Square of odd number 316969
Square of odd number 319225
Square of odd number 321489
Square of odd number 323761
Square of odd number 326041
Square of odd number 328329
Square of odd number 330625
Square of odd number 332929
Square of odd number 335241
Square of odd number 337561
Square of odd number 339889
Square of odd number 342225
Square of odd number 344569
Square of odd number 346921
Square of odd number 349281
Square of odd number 351649
Square of odd number 354025
Square of odd number 356409
Square of odd number 358801
Square of odd number 361201
Square of odd number 363609
Square of odd number 366025
Square of odd number 368449
Square of odd number 370881
Square of odd number 373321
Square of odd number 375769
Square of odd number 378225
Square of odd number 380689
Square of odd number 383161
Square of odd number 385641
Square of odd number 388129
Square of odd number 390625
Square of odd number 393129
Square of odd number 395641
Square of odd number 398161
Square of odd number 400689
Square of odd number 403225
Square of odd number 405769
Square of odd number 408321
Square of odd number 410881
Square of odd number 413449
Square of odd number 416025
Square of odd number 418609
Square of odd number 421201
Square of odd number 423801
Square of odd number 426409
Square of odd number 429025
Square of odd number 431649
Square of odd number 434281
Square of odd number 436921
Square of odd number 439569
Square of odd number 442225
Square of odd number 444889
[18629852]
[43469599]

In [42]:
#18. for a given range of values 110,130. Print a message id 124 is found and print all the other values 

for i in range(110,131):
    if (i ==124):
        print("Id 124 is found")
    else:
        print(i)

110
111
112
113
114
115
116
117
118
119
120
121
122
123
Id 124 is found
125
126
127
128
129
130

In [53]:
# 19.for the given range of value 1 to 10,  print all the values till 5 and exit the loop if value 6 is found

for i in range (1,10):
    if(i == 6):
        break
    else:
        print(i)

1
2
3
4
5

In [54]:
#20. find the sum of first 50 natural numbers

sum=0
for i in range(1,51):
    sum+=i
print("Sum of first 50 numbers:", sum)

Sum of first 50 numbers: 1275

In [ ]:
#21. Display the text, n number of time

In [63]:
#22. Program to Print Fibonacci Series
  
#0,1,1,2,3,5,8,13,21,34,55,89
a=0
b=1
fibo=0
for i in range (0,10):
    fibo=a+b
    temp = fibo
    a =b
    b=temp
    print(fibo)

1
2
3
5
8
13
21
34
55
89

In [75]:
#23. Factorial using while loop
fact =1
i=1
while i<6:
    fact = fact*i
    i+=1
print("Factorial is : ",fact)

Factorial is :  120

In [78]:
#24. check if a given number is positive, negative or zero

a=int(input("Enter the number :"))

if(a<0):
    print("Number is negative :",a)
elif(a>0):
    print("Number is positive :",a)
else:
    print("Number is zero :",a)

Enter the number :-1
Number is negative : -1

In [80]:
#25. Print the range of number and also print seperate message if there is a multiple of 5

for i in range (1,50):
    if (i % 5 == 0):
        print("Multiple of 5:",i)
    else:
        print(i)

1
2
3
4
Multiple of 5: 5
6
7
8
9
Multiple of 5: 10
11
12
13
14
Multiple of 5: 15
16
17
18
19
Multiple of 5: 20
21
22
23
24
Multiple of 5: 25
26
27
28
29
Multiple of 5: 30
31
32
33
34
Multiple of 5: 35
36
37
38
39
Multiple of 5: 40
41
42
43
44
Multiple of 5: 45
46
47
48
49

In [92]:
#26. Print all the alphabets in a cummulative way or in a triangular format

for i in range(1, 7):
    for j in range(65, 65+i):
        a = chr(j)
        print(a, end=" ")
    print("\n")

A

A B

A B C

A B C D

A B C D E

A B C D E F

In [95]:
#27. Print a number pattern using a for loop and range function. 

for i in range(1,10):
    for j in range (1,i+1):
        print(j,end = " ")
    print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

1 2 3 4 5 6

1 2 3 4 5 6 7

1 2 3 4 5 6 7 8

1 2 3 4 5 6 7 8 9

In [113]:
#28. Print a Triangular half pyramid number pattern with loop and range function. 

for i in range(1,5):
    print("\t")
    for j in range (1,i+1):
        print(j,end = " ")

1
1 2
1 2 3
1 2 3 4

In [133]:
#29. Print a number pattern and reverse the order using a for loop and range function. 

for i in range(1,7):
    for j in range (1,i):
        
        print(j,end ="  ")
    print()
    
print("\n\n")
    
for i in range (6,0,-1):
    for j in range(i,0,-1):
        print(j, end =" ")
    print()

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5



6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [135]:
#30. Program to print half pyramid pattern using an asterisk (star)

for i in range(1,7):
    for j in range (1,i):
        
        print("*",end ="  ")
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [136]:
#31. Program to print inverted half pyramid using an asterisk (star)


for i in range (6,0,-1):
    for j in range(i,0,-1):
        print("*", end =" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [137]:
#32.Print Alphabets in triangle pattern

for i in range (65,70):
    for j in range(65,i+1):
        print(chr(j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

In [161]:
#33. Findn how many time word has been repeated in the text, text = 'Its too good to be good, being good is always good'

def word_count(str):
    counts = dict()
    words = str.split()
    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('Its too good to be good, being good is always good'))

{'Its': 1, 'too': 1, 'good': 3, 'to': 1, 'be': 1, 'good,': 1, 'being': 1, 'is': 1, 'always': 1}

In [166]:
#34. Strip only the name from email id terry@gmail.com
text ="terry@gmail.com"
print(text.split('@')[0])

terry

In [189]:
#35. Strip all the fiels like first name, last name, domain and extension seperately  from email id terry.jason@gmail.com

text="terry.jason@gmail.com"
print("First name :",text.split('.')[0])
ln=text.split('@')[0]
print("Last name :",ln.split('.')[1])
dm=text.split('@')[1]
print("Domain :",dm.split('.')[0])
ext=text.split('@')[1]
print("Extension :",ext.split('.')[1])

First name : terry
Last name : jason
Domain : gmail
Extension : com

In [190]:
# 36.Extract only the email ids from the text
text ="terry@gmail.com"
print(text.split('@')[0])

terry

In [191]:
#37. Extract all the numbers from the given text 

test_string = "There are 2 apples for 4 persons"

print("The original string : " + test_string) 
  
# using List comprehension + isdigit() +split()  
res = [int(i) for i in test_string.split() if i.isdigit()] 
  
# print result 
print("The numbers list is : " + str(res))

The original string : There are 2 apples for 4 persons
The numbers list is : [2, 4]

In [194]:
#38. create 2 separate lists , combine all the elements in the list. Remove the duplicate and get the count of elements

count=0
lst1=[1,2,3]
lst2=[2,3,4,5,6]
lst3=set(lst1+lst2)
print(list(lst3))
print("Count of Elements is list are :", len(lst))

[1, 2, 3, 4, 5, 6]