In [1]:
print("Hello World")

Hello World

In [2]:
print('Hello World")

SyntaxError: EOL while scanning string literal (<ipython-input-2-529ed7bb5a74>, line 1)

In [3]:
print('Hello World')

Hello World

In [4]:
# Single Line Commenting

In [6]:
"""
Multi 
line 
Commenting"""

'Multi \nline \nCommenting'

In [12]:
a =5

In [30]:
print(a)
print(type(a))
print("Value of a:",a)
print("Value of a: %d" %a)
print("Value of a: {}".format(a))

5
<class 'int'>
Value of a: 5
Value of a: 5
Value of a: 5

In [14]:
b = "Hello world"

In [16]:
print(b)
print(type(b))

Hello world
<class 'str'>

In [22]:
c = True

In [23]:
print(c)
print(type(c))

True
<class 'bool'>

In [24]:
d =5.2

In [25]:
print(d)
print(type(d))

5.2
<class 'float'>

In [33]:
# Assinging a value to variable
age = 25
senetence ='Assining value to a variable'
height = 5.6

print(age)
print(type(age))

print(senetence)
print(type(senetence))

print(height)
print(type(height))

25
<class 'int'>
Assining value to a variable
<class 'str'>
5.6
<class 'float'>

In [37]:
 #Type casting

a = 10
print(a)
print(type(a))
    
b = str(a)
#print(b)
print(type(b))

c = 'hi'
print(c)
print(type(c))

d = int(c)
print(type(d))

10
<class 'int'>
<class 'str'>
hi
<class 'str'>

ValueError: invalid literal for int() with base 10: 'hi'

In [42]:
cc = '10'
print(cc)
print(type(cc))

dd = int(cc)
print(type(dd))

e = float(cc)
print(e)
print(type(e))

10
<class 'str'>
<class 'int'>
10.0
<class 'float'>

In [48]:
fname = 'Pratiksha'
lname = 'Pawar'

print("first name :",fname)
print("last name  :",lname)

name = fname + lname
print(name)

name = fname +" " + lname
print(name)

first name : Pratiksha
last name  : Pawar
PratikshaPawar
Pratiksha Pawar

In [49]:
fname ="Pratiksha"
lname = 56

name = fname + lname
print(name)

TypeError: must be str, not int

In [50]:
# Multiple Assignment 

a,b,c = 1,2,3

out = a + b + c
print(out)

6

In [52]:
  a1 = a2 = a3 = 4
a1

4

In [53]:
a2

4

In [54]:
a3

4

In [55]:
state = True
state1 = False

print(state)
print(state1)

print(type(state))
print(type(state1))

True
False
<class 'bool'>
<class 'bool'>

In [62]:
# Arithematic Operations

length = 10.1
width = 2

add = length + width 
print("Addition is {}".format(add))

sub = length - width 
print("Substraction is {}".format(sub))


mul = length * width 
print("Multiplication is {}".format(mul))


div = length / width 
print("Division is {}".format(div))

mod = length % width 
print("Mod is {}".format(mod))

square = length ** width 
print("Square is {}".format(square))

Addition is 12.1
Substraction is 8.1
Multiplication is 20.2
Division is 5.05
Mod is 0.09999999999999964
Square is 102.00999999999999

In [69]:
# Incremental Function

a = 10 

#a = a + 2
a+=2

a

12

In [73]:
# sting operations

nm = "Pratiksha Pawar"
nm * 5
(nm+" ") * 5

'Pratiksha Pawar Pratiksha Pawar Pratiksha Pawar Pratiksha Pawar Pratiksha Pawar '

In [10]:
# Data Slicing 

nm = 'Pratiksha Pawar'

print(nm)
print(nm[4]) # to print the fifth character
print(nm[0:3]) # to print the first three character
print(nm[0:len(nm)]) # to print all the values
print(nm[:len(nm)]) # to print all the values 
print(nm[0:]) # to print all the values
print(nm[0:-1]) # to remove last character from srting 
print(nm[:-len(nm)]) # display no char

Pratiksha Pawar
i
Pra
Pratiksha Pawar
Pratiksha Pawar
Pratiksha Pawar
Pratiksha Pawa

In [4]:
len(nm)

15

# Logical Operations

In [18]:
a,b,c = 1,2,3

In [13]:
c > a and c > b

True

In [14]:
(c > a) & (c > b)

True

In [16]:
city = 'Pune'
gender = 'F'

city == 'Pune' and gender =='M'

False

In [19]:
c < a or c >b

True

In [20]:
(c < a) | (c >b)

True

In [21]:
a = 11
a % 2 ==0

False

In [22]:
# Not Operator
# not (a<20)

a!=20

True

In [23]:
a == b
a!=b
a<b
a>b
a>=c
a<=c

False

# Tuple - Denoted by ()

In [26]:
name = ('Pratiksha', 'Pawar')
print(name)
print(type(name))

print("last_name :{}".format(name[1]))
print("first_name :{}".format(name[0]))

('Pratiksha', 'Pawar')
<class 'tuple'>
last_name :Pawar
first_name :Pratiksha

In [27]:
a =(1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [33]:
age = (40,8,35,5)
print(age)

print(sorted(age))
print(sorted(age , reverse =True))

(40, 8, 35, 5)
[5, 8, 35, 40]
[40, 35, 8, 5]

In [38]:
# Data Slicing 
print(age)
print(age[0:])
print(age[:len(age)])
print(age[0:-1])

(40, 8, 35, 5)
(40, 8, 35, 5)
(40, 8, 35, 5)
(40, 8, 35)

In [39]:
del age[1] # In tuple u cant change anything

TypeError: 'tuple' object doesn't support item deletion

In [1]:
tup = ("apple", "banana","cherry")
print(tup)
print(type(tup))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [2]:
print(tup[1])

banana

In [3]:
print(tup[-1])

cherry

In [5]:
print(tup[0:2])

('apple', 'banana')

In [6]:
lst = list(tup)
print(type(lst))

<class 'list'>

In [8]:
lst[1]='kiwi'
tup=tuple(lst)
print(tup)
print(type(tup))

('apple', 'kiwi', 'cherry')
<class 'tuple'>

In [9]:
# Loop
tup = ("apple", "banana","cherry")
for x in tup:
    print(x)

apple
banana
cherry

In [13]:
tup = ("apple", "banana","cherry")
if "banana" in tup:
    print("Yes,Banana is there in tuple")

Yes,Banana is there in tuple

In [11]:
if "kiwi" in tup:
    print("Yes,Banana is there in tuple")

In [14]:
print(len(tup))

3

# List denoted by []

In [15]:
fruits = ["apple","banana","orange","grapes"]
print(fruits)
print(type(fruits))

['apple', 'banana', 'orange', 'grapes']
<class 'list'>

In [17]:
print(tuple(fruits))
print(type(fruits))

('apple', 'banana', 'orange', 'grapes')
<class 'list'>

In [19]:
fruits = ["apple","banana","orange","grapes","banana"]
print(fruits)
print(tuple(fruits))
print(fruits)

['apple', 'banana', 'orange', 'grapes', 'banana']
('apple', 'banana', 'orange', 'grapes', 'banana')
['apple', 'banana', 'orange', 'grapes', 'banana']

In [20]:
print(fruits[1])

banana

In [21]:
print(fruits[2:4])

['orange', 'grapes']

In [22]:
fruits[1]="kiwi"
print(fruits)

['apple', 'kiwi', 'orange', 'grapes', 'banana']

In [23]:
fruits.append("cherry")
print(fruits)

['apple', 'kiwi', 'orange', 'grapes', 'banana', 'cherry']

In [24]:
fruits.insert(1,"banana")
print(fruits)

['apple', 'banana', 'kiwi', 'orange', 'grapes', 'banana', 'cherry']

In [27]:
fruits = ["apple","banana","orange","grapes","banana","banana"]
fruits.remove("banana")
print(fruits)

['apple', 'orange', 'grapes', 'banana', 'banana']

In [28]:
fruits.pop()
print(fruits)

['apple', 'orange', 'grapes', 'banana']

In [30]:
del(fruits[0])
print(fruits)

['grapes', 'banana']

In [31]:
fruits = ["apple","banana","orange","grapes","banana"]
fruits.clear()
print(fruits)

[]

In [32]:
fruits = ["apple","banana","orange","grapes","banana"]
lst=fruits.copy()
print(lst)

['apple', 'banana', 'orange', 'grapes', 'banana']

# Set - denoted by {}

In [33]:
fruits = {"apple","banana","orange","grapes","banana"}
print(fruits)
print(type(fruits))

{'banana', 'orange', 'apple', 'grapes'}
<class 'set'>

In [34]:
for x in fruits :
    print(x)

banana
orange
apple
grapes

In [35]:
fruits = {"apple","banana","orange","grapes","banana"}
fruits.add("cherry")
print(fruits)

{'banana', 'orange', 'cherry', 'apple', 'grapes'}

In [39]:
fruits ={"apple","banana","grapes"}
fruits.update(["cherry","orange","mango"])
print(fruits)

{'banana', 'orange', 'cherry', 'apple', 'mango', 'grapes'}

In [40]:
fruits.remove("banana")
print(fruits)

{'orange', 'cherry', 'apple', 'mango', 'grapes'}

In [42]:
fruits1 = {"apple","banana"}
fruits2 = {"orange","mango"}
fruits3 = fruits1.union(fruits2)
print(fruits3)

{'banana', 'orange', 'mango', 'apple'}

# Dictonary - Denoted by {}

In [43]:
student = {"Eddy":26,"Marry":23,"Jack":28}
print(student)
print(type(student))

{'Eddy': 26, 'Marry': 23, 'Jack': 28}
<class 'dict'>

In [44]:
student["Jack"]

28

In [46]:
student["Jack"] = 27
print(student)

{'Eddy': 26, 'Marry': 23, 'Jack': 27}

In [47]:
len(student)

3

In [49]:
print(student)
print(student.keys())
print(student.values())
print(student.items())

{'Eddy': 26, 'Marry': 23, 'Jack': 27}
dict_keys(['Eddy', 'Marry', 'Jack'])
dict_values([26, 23, 27])
dict_items([('Eddy', 26), ('Marry', 23), ('Jack', 27)])

In [50]:
del student["Jack"]
print(student)

{'Eddy': 26, 'Marry': 23}

In [52]:
#one levele of drill down
element = {'hydrogen':1, 'helium':2,'carbon':6}
element['carbon']

6

In [54]:
# two level of drill down

elements = {'hydrogen':{'number': 1, 'weight':1.00794,'symbol':'H'},
           'helium':{'number': 3, 'weight':4.0034,'symbol':'He'}
           }

In [55]:
print(elements)

{'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'}, 'helium': {'number': 3, 'weight': 4.0034, 'symbol': 'He'}}

In [57]:
elements['helium']['symbol']

'He'

# Conditional Statement

In [64]:
#a =int(input())
#b =int(input())
a =int(input('A value:'))
b =int(input('B value:'))
if b>a: 
    print("b is greater than a")
else:
    print("a is greater than b")

A value:20
B value:40
b is greater than a

In [65]:
a =int(input())
b =int(input())

if b>a: 
    print("b is greater than a")
elif a ==b :
    print("a and b are equal")
else:
    print("a is greater than b")

33
33
a and b are equal

In [66]:
#pass

a =int(input())
b =int(input())

if b>a: 
    print("b is greater than a")
elif a ==b :
    print("a and b are equal")
else:
    pass

33
12

# # For Loop

In [68]:
a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [70]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [72]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [75]:
fruits =["apple","banana","cheey"]
for x in fruits:
    print(x)

apple
banana
cheey

In [76]:
fruits =["apple","banana","cheey"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [77]:
fruits =["apple","banana","cheey"]
for x in fruits:
    print(x)
    if x == "banana":
        continue

apple
banana
cheey

In [78]:
for i in range(2,6):
    print(i)

2
3
4
5

In [79]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [80]:
for i in range(0,10,2):
    print(i**2)

0
4
16
36
64

In [81]:
for i in range(0,10,2):
    print(i*2)

0
4
8
12
16

In [7]:
# the break statement

fruits =["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break
    #print(x)

apple
banana

In [11]:
# the countinue stmt :

fruits =["apple","banana","cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [12]:
# Range

for x in range(6):
    print(x)

0
1
2
3
4
5

In [13]:
for x in range(2,6):
    print(x)

2
3
4
5

In [15]:
for x in range  (2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [16]:
#Else Stmt 
for x in range(6):
    print(x)
else:
    print("Finished")

0
1
2
3
4
5
Finished

In [17]:
#Nested Loop

adj = ["red","big","tasty"]
fruits =["apple","banana","cherry"]


for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [19]:
# Pass stmt

for x in [1,2,3]:
    #print(x)
    pass

In [20]:
for x in range(0,11,2):
    print(x*2)

0
4
8
12
16
20

In [21]:
for i in range(0,3):
    for j in range(0,3):
        print(i+j)

0
1
2
1
2
3
2
3
4

# While Loop

In [24]:
i = 1
while i< 6:
    print(i)
    i+=1

1
2
3
4
5

In [25]:
i = 1
while i < 6 :
    print(i)
    if i ==3 :
        break
    i+=1

1
2
3

In [27]:
i = 0
while i < 6 :
    i+=1
    if i == 3 :
        continue
    print(i)

1
2
4
5
6

In [28]:
i = 1 
while i < 6 :
    print(i)
    i+=1
else :
    print("i is no longer less than",i)

1
2
3
4
5
i is no longer less than 6

# Functions

In [29]:
## function --create a function

def helloworld():
    print("Hello world")

In [30]:
# function - call 
helloworld()

Hello world

In [33]:
# pass an input variable 

def hello(nm):
    print("Hello",nm)
    
#hello()
hello("Pratiksha")

Hello Pratiksha

In [35]:
def printinfo(name, age):
    print("Name :",name)
    print("Age :",age)
    return

printinfo(age = 28,name ="Pratiksha")

Name : Pratiksha
Age : 28

In [36]:
printinfo( 28,"Pratiksha")

Name : 28
Age : Pratiksha

In [37]:
def val_fn(x,y=50):
    print("x :",x)
    print("y :",y)
    
val_fn(10)

x : 10
y : 50

In [38]:
val_fn(10,100) # Updates the value

x : 10
y : 100

In [43]:
# passing a list as argument
def fahrenheit(T_in_celcius):
    c = (T_in_celcius * 9/5) +32
    return c
lst =[22.6,25.8,27.3,39.8]

for t in lst:
    print(t,":",fahrenheit(t))

#fahrenheit(22.6)

22.6 : 72.68
25.8 : 78.44
27.3 : 81.14
39.8 : 103.64

In [46]:
# for multiple parameter in fumction

def my_function(*kids):
    print("first child is "+kids[2])
    
my_function("A","B","C")

first child is C

In [49]:

def my_fumction(x):
    return 5 * x

print(my_fumction(5))
print(my_fumction(3))
print(my_fumction(9))

25
15
45

In [51]:
def my_fumction():
    pass

In [58]:
# Program to check given string is a palindrome or not

def pall(str1):
    str2 = str1[::-1]
    if(str1 == str2):
        print(" '%s' is a palindrome" %str1)
    else:
        print(" '%s' is not palindrome" %str1)

In [59]:
pall("MOM")

 'MOM' is a palindrome

# Calculator program using Method based approach (function)

In [7]:
def add(num1,num2):
    return num1+num2
def subtract(num1,num2):
    return num1-num2
def multiply(num1,num2):
    return num1*num2
def division(num1,num2):
    return num1/num2

print("""Enter the valid operations from the following
1 : Addition
2: Subtraction 
3: Multiplication
4: Division""")

select = input("Please select the opeartion :")
if select =="1":
    num1= int(input("Enter the first number :"))
    num2= int(input("Enter the second number :"))
    print(num1,"+",num2,"=", add(num1,num2))
elif select =="2":
    num1= int(input("Enter the first number :"))
    num2= int(input("Enter the second number :"))
    print(num1,"-",num2,"=", subtract(num1,num2))
elif select =="3":
    num1= int(input("Enter the first number :"))
    num2= int(input("Enter the second number :"))
    print(num1,"*",num2,"=", multiply(num1,num2))
elif select =="4":
    num1= int(input("Enter the first number :"))
    num2= int(input("Enter the second number :"))
    print(num1,"/",num2,"=", division(num1,num2))
else:
    print("Invalid Input")

Enter the valid operations from the following
1 : Addition
2: Subtraction
3: Multiplication
4: Division
Please select the opeartion :1
Enter the first number :3
Enter the second number :5
3 + 5 = 8

# Writing a boolean method and executing in loop to identify Armstrong numbers in an array

In [8]:
from array import *

In [11]:
arr = array("i", [10,4,11,5,153,216])
print(arr)
print(type(arr))

for i in arr:
    num=i
    result =0
    n=len(str(i))
    while (i!=0):
        digit = i % 10
        result = result + digit ** n
        i = i //10
    if num == result :
        print(True)
    else:
        print(False)

array('i', [10, 4, 11, 5, 153, 216])
<class 'array.array'>
False
True
False
True
True
False

# Rewriting fibonacci series using method based approach

In [13]:
def fibo(n):
    a = 0
    b = 1
    
    if n > 0 :
        if n == 1:
            print(a)
        else:
            print(a)
            print(b)
            for i in range(2,n):
                c = a + b
                a = b
                b = c
                print(c)

fibo(10)

0
1
1
2
3
5
8
13
21
34

# OOPS

In [2]:
class MyClass:
    x =5

In [3]:
p1 = MyClass()
print(p1.x)
print(type(p1.x))

5
<class 'int'>

In [ ]:
# class person:
    def __init__(self,name,age):
        self.name= name
        self.age = age

p1 = person("Pratiksha",28)
print(p1.name)
print(p1.age)

# Object Methods

In [6]:
class person:
    def __init__(self,name,age): #self parameter is refrence to the class, used to acess the variables
        self.name= name
        self.age = age
        
    def myfunc(self):
        print("Hello my name is "+self.name)
        
p1 = person("Pratiksha",28)
p1.myfunc() #object method

Hello my name is Pratiksha

In [7]:
# using any identifier instead of self
class person:
    def __init__(aaaa,name,age): 
        aaaa.name= name
        aaaa.age = age
        
    def myfunc(self):
        print("Hello my name is "+self.name)
        
p1 = person("Pratiksha",36)
p1.myfunc()

Hello my name is Pratiksha

In [24]:
del p1.age

In [25]:
del p1

In [26]:
print(p1.age) # error bcoz object is deleted

NameError: name 'p1' is not defined

In [ ]:
class person:
    pass

In [10]:
class student:
    def __init__(self,first_name, last_name,laptop):
        self.first_name= first_name
        self.last_name= last_name
        self.laptop= laptop
         
    def stud(self):
        print(self.first_name +" "+self.last_name ,"is studying")
        
class Laptop :
    def __init__(self, model,price):
        pass

lap = (Laptop(input("Enter the laptop name :"),input("Enter Laptop Price :")))
a=student(input("Eneter first_name :"), input("Enter Last_name :"),lap)

a.stud()

Enter the laptop name :HP
Enter Laptop Price :9000
Eneter first_name :Pratiksha
Enter Last_name :Pawar
Pratiksha Pawar is studying

In [13]:
class Student:
    
    school = "Teqstories"
    
    def __init__(self,m1,m2,m3):
        self.m1 = m1  
        self.m2 = m2
        self.m3 = m3
        
    def avg(self):                         # instance method
        return(self.m1+self.m2+self.m3)/3
    
    def get_m1(self):                      # getter method           
        return self.m1
    
    def set_m1(self,value):                # setter method
        self.m1 = value
    @classmethod    
    def getSchool(cls):                    # class method
        return cls.school
    @staticmethod
    def info():                            # static method
        print("This is static method")
    
s1 = Student(34,47,32)
s2 = Student(89,32,12)

print(s1.avg())
print(Student.getSchool())
Student.info()

37.666666666666664
Teqstories
This is static method

In [64]:
# inner class

class Student:
    def __init__(self,name,rollno):
        self.name = name
        self.rollno = rollno
        self.lap = self.Laptop
        
    
    def show(self):
        print(self.name, self.rollno)
        self.lap.show
        
    class Laptop:
        def __init__(self):
            self.brand = "HP"
            self.cpu = "i5"
            self.ram = "8Gb"
            
        def show(self):
            print(self.brand, self.cpu, self.ram)
            
            
s1 = Student("Prtaiksha", 2)
s2 = Student("Purva", 3)

print(s1.show())

Prtaiksha 2
None

In [31]:
# Inheritance 

class A:
    def feature1(self):
        print("Feature1 : working")
        
    def feature2(self):
        print("Feature2 : working")
        
a1 = A()

 
    
class B(A): #inheritted class A 
    
    def feature3(self):
        print("Feature3 : working")
        
    def feature4(self):
        print("Feature4 : working")
        
b1 = B()
#b1.feature1()
#b1.feature2()
#b1.feature3()
#b1.feature4()

class C(B): #inheritted class B can also write as class C(A,B)
    
    def feature5(self):
        print("Feature5 : working")
        
    def feature6(self):
        print("Feature6 : working")
        
c1= C()
c1.feature5()
c1.feature6()
c1.feature1()
c1.feature2()
c1.feature3()
c1.feature4()

Feature5 : working
Feature6 : working
Feature1 : working
Feature2 : working
Feature3 : working
Feature4 : working

In [38]:
# Errors and Exception Handling 

'''Types of error :
1) Compilation 
2) Run time
3) Syntax comes under name error'''

'Types of error :\n1) Compilation \n2) Run time\n3) Syntax '

In [53]:

try :
    print(d)    
#except:
    #print(" An Exception Occured")
except NameError :
    print("Variable d is not defined")
except:
    print("Something went wrong")

Variable d is not defined

In [54]:

try :
    print(d)    
except:
    print("Something went wrong")
else:
    print("Nothing went wrong")

Something went wrong

In [55]:

try :
    print(d)    
except:
    print("Something went wrong")
finally:
    print("The try except is finished")

Something went wrong
The try except is finished

In [56]:
# raise exception

x = -1

if x < 0 :
    raise Exception("Sorry , no numbers below zero is allowed")

Exception: Sorry , no numbers below zero is allowed

In [57]:
x = "hello"

if not type(x) is int:
    raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed